@model IEnumerable<StudentRecordsApp.Models.Grade>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prelim_Quiz1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prelim_Quiz2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prelim_Quiz3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prelim_Assign1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prelim_Assign2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prelim_Assign3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Midterm_Quiz1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Midterm_Quiz2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Midterm_Quiz3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Midterm_Assign1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Midterm_Assign2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Midterm_Assign3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefinal_Quiz1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefinal_Quiz2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefinal_Quiz3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefinal_Assign1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefinal_Assign2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prefinal_Assign3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Final_Quiz1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Final_Quiz2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Final_Quiz3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Final_Assign1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Final_Assign2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Final_Assign3)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prelim_Quiz1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prelim_Quiz2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prelim_Quiz3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prelim_Assign1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prelim_Assign2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prelim_Assign3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Midterm_Quiz1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Midterm_Quiz2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Midterm_Quiz3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Midterm_Assign1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Midterm_Assign2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Midterm_Assign3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefinal_Quiz1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefinal_Quiz2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefinal_Quiz3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefinal_Assign1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefinal_Assign2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prefinal_Assign3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final_Quiz1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final_Quiz2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final_Quiz3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final_Assign1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final_Assign2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Final_Assign3)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
