@model Portal.Models.Admin


@{
    ViewData["Title"] = "Details";
}

<div>
    <!--<hr />-->
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<br />
<center>
    <!--PRELIM-->
    <div class="table TablePrelim">
        <table class=" w-75 Prelim">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Preliminary</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th> </th>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quizzes</td>
                    <td>@Html.DisplayFor(model => model.Pq1)</td>
                    <td>@Html.DisplayFor(model => model.Pq2)</td>
                    <td>@Html.DisplayFor(model => model.Pq3)</td>
                    <td>@Html.DisplayFor(model => model.PqAve)</td>
                </tr>
                <tr>
                    <td>Assignments</td>
                    <td>@Html.DisplayFor(model => model.Pa1)</td>
                    <td>@Html.DisplayFor(model => model.Pa2)</td>
                    <td>@Html.DisplayFor(model => model.Pa3)</td>
                    <td>@Html.DisplayFor(model => model.PaAve)</td>
                </tr>
                <tr class="bg-secondary text-light">
                    <td colspan="4">Total Average</td>
                    <td>@Html.DisplayFor(model => model.Prelim)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--MIDTERM-->
    <div class="table TableMidterm">
        <table class=" w-75 Midtern">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Midterm</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th> </th>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quizzes</td>
                    <td>@Html.DisplayFor(model => model.Mq1)</td>
                    <td>@Html.DisplayFor(model => model.Mq2)</td>
                    <td>@Html.DisplayFor(model => model.Mq3)</td>
                    <td>@Html.DisplayFor(model => model.MqAve)</td>
                </tr>
                <tr>
                    <td>Assignments</td>
                    <td>@Html.DisplayFor(model => model.Ma1)</td>
                    <td>@Html.DisplayFor(model => model.Ma2)</td>
                    <td>@Html.DisplayFor(model => model.Ma3)</td>
                    <td>@Html.DisplayFor(model => model.MaAve)</td>
                </tr>
                <tr class="bg-secondary text-light">
                    <td colspan="4">Total Average</td>
                    <td>@Html.DisplayFor(model => model.Midterm)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--PREfi-->
    <div class="table TablePrefinals">
        <table class=" w-75 Prefinals">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Pre-Finals Grade</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th> </th>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quizzes</td>
                    <td>@Html.DisplayFor(model => model.Pfq1)</td>
                    <td>@Html.DisplayFor(model => model.Pfq2)</td>
                    <td>@Html.DisplayFor(model => model.Pfq3)</td>
                    <td>@Html.DisplayFor(model => model.PfqAve)</td>
                </tr>
                <tr>
                    <td>Assignments</td>
                    <td>@Html.DisplayFor(model => model.Pfa1)</td>
                    <td>@Html.DisplayFor(model => model.Pfa2)</td>
                    <td>@Html.DisplayFor(model => model.Pfa3)</td>
                    <td>@Html.DisplayFor(model => model.PfaAve)</td>
                </tr>
                <tr class="bg-secondary text-light">
                    <td colspan="4">Total Average</td>
                    <td>@Html.DisplayFor(model => model.Prefinals)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--Finals-->
    <div class="table TableFinals">
        <table class="  w-75 Finals">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Finals Grade</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <thead class="thead-light">
                <tr>
                    <th> </th>
                    <th>#1</th>
                    <th>#2</th>
                    <th>#3</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Quizzes</td>
                    <td>@Html.DisplayFor(model => model.Fq1)</td>
                    <td>@Html.DisplayFor(model => model.Fq2)</td>
                    <td>@Html.DisplayFor(model => model.Fq3)</td>
                    <td>@Html.DisplayFor(model => model.FqAve)</td>
                </tr>
                <tr>
                    <td>Assignments</td>
                    <td>@Html.DisplayFor(model => model.Fa1)</td>
                    <td>@Html.DisplayFor(model => model.Fa2)</td>
                    <td>@Html.DisplayFor(model => model.Fa3)</td>
                    <td>@Html.DisplayFor(model => model.FaAve)</td>
                </tr>
                <tr class="bg-secondary text-light">
                    <td colspan="4">Total Average</td>
                    <td>@Html.DisplayFor(model => model.Finals)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="btn edit">
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </div>
</center>
